@import url("./modern-normalize.css");

header {
    text-align: center;
}

footer {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
}

input,
textarea {
    background-color: transparent;
    padding: 8px;
    margin: 8px;
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
}

::placeholder {
    color: black;
    opacity: 1;
}

.cvEditForm {
    margin: 0 20%;
}

.edit {
    background-color: transparent;
    padding: 8px;
    margin: 8px;
    display: block;
    width: 100%;
}
